<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>A W O L N A T I O N</title>
	</head>
	<body>
		<div class="Head">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="$">About</a></li>
		<li><a href="/News">News</a></li>
		<li><a href="/Playlist">Playlist</a></li>
	</ul>
	<div class="Back">
            <h1 class="Heading">Band Information</h1>
                <div class="item">
            <p>Awolnation (stylized as AWOLNATION) is an American rock band from Los Angeles formed and fronted by Aaron Bruno, formerly of Under the Influence of Giants, Home Town Hero, and Insurgence.</p>
               <p>Aaron Bruno was approached by Red Bull Records in 2009, asking if he wanted free use of the Red Bull recording studio in Los Angeles. He recorded a few songs in the studio and ultimately signed with the label, calling it more of a "partnership", and was allowed to make the recordings that he wanted. Bruno was with numerous bands before he created Awolnation, including Home Town Hero with Drew Stewart and Under the Influence of Giants with Dave Amezcua. 
                </p>
                <p>Bruno writes all of his songs himself, but confides in close friends and family or respected artists for guidance. The band released their first EP Back from Earth on May 18, 2010.
                The name Awolnation is derived from Aaron Bruno's high school nickname. In an interview with Kristin Houser of the LA Music Blog, he stated that he "would leave without saying goodbye" because it was just easier, so that's where the name AWOL (slang from the military acronym for Absent Without Leave) came from."
               </p>
            </div>
    </div>
	<footer>
		<p>Welcome to the Band Website</p>
	</footer>
</div>
<style>
    .Heading{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: rgb(5, 5, 5) 1px 0 10px;
    color: #fbfb1e;
    background: rgba(17, 22, 20, 0.4);
    text-align: center;
    margin: 0%;
    padding-top: 50px;
    }
    .item{
    margin: 0%;
    padding-bottom: 80px;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: rgb(229, 229, 35) 1px 0 10px;
    color: #fbfb1e;
    background: rgba(17, 22, 20, 0.4);
    text-align: justify;
    }
	.Band{
		color: #fbfb1e;
		padding-top: 225px;
	    padding-bottom: 225px;
	    text-transform: uppercase;
		text-shadow: rgb(16, 16, 12) 1px 0 10px;
	}
	.Back{
		text-align: center;
		font-size: larger;
		background-image: url(/public/awol.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		opacity: 50%;
	}
ul{
	display: flex;
    justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
	margin: 0%;
	padding-right: 20px;
	list-style: none;
	background: rgb(27, 45, 39);
}
ul a{
	background-image:  linear-gradient(rgba(1, 197, 135, 0.984), #ecf00d);
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: rgba(1, 197, 135, 0.984);
	text-transform: uppercase;
	font-size: larger;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgb(16, 16, 12) 1px 0 10px;
}
.Head{
	display: flex;
	flex-direction: column;
	background: radial-gradient(rgb(27, 45, 39) 300px,rgb(96, 201, 166));
}
footer{
	padding-top: 25px;
	padding-bottom: 17px;
	text-transform: uppercase;
	text-spacing-trim: 20%;
	color: #4fa83d;
	background: rgb(27, 45, 39);
	text-align: center;
	font-size: larger;
	font-weight: bold;
	text-decoration: none;
	text-shadow: rgb(16, 16, 12) 1px 0 10px;
}
html body{
width: 100%;
height: 100%;
margin: 0;
padding: 0;
box-sizing: border-box;
}
</style>
	</body>
</html>
