<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
	<div class="Band">
    <h1> Awolnation</h1>
    </div>
	<ul>
		<li><a href="$">Home</a></li>
		<li><a href="$">About</a></li>
		<li><a href="$">News</a></li>
		<li><a href="$">Playlist</a></li>
	</ul>
<style>
	{}
</style>
	</body>
</html>
