<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <h1 class="Band"> Awolnation</h1>
	<ul>
		<li><a href="$">Home</a></li>
		<li><a href="$">About</a></li>
		<li><a href="$">News</a></li>
		<li><a href="$">Playlist</a></li>
	</ul>
<style>
	.Band{
		color: radial-gradient(rgba(1, 197, 135, 0.984), #ecf00d);
	}
</style>
	</body>
</html>
