<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="Head">
	<ul>
		<li><a href="$">Home</a></li>
		<li><a href="$">About</a></li>
		<li><a href="$">News</a></li>
		<li><a href="$">Playlist</a></li>
	</ul>
	<h1 class="Band"> Awolnation</h1>
</div>
<style>
	.Band{
		background-image:  linear-gradient(rgba(1, 197, 135, 0.984), #ecf00d);
		background-clip: text;
		-webkit-text-fill-color: transparent;
		background-color: rgba(1, 197, 135, 0.984);
	}
ul{
	background: rgb(27, 45, 39);
}
ul a{
	color: aquamarine;
}
.Head{
	display: flex;
    justify-content: space-between;
}
</style>
	</body>
</html>
