---
import New from '../News/New.md';
---

<html>
  <head>
    <title>Mi Página con Markdown</title>
  </head>
  <body>
    <h1>Bienvenido a mi página</h1>
    <article>
      {New}
    </article>
  </body>
</html>