<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
        <div class="songs">
        <p class="song1">Sail</p>
        <p class="song2">Kill Your Heores</p>
        <p class="song3">Not Your Fault</p>
        <p class="song4">Panoramic View</p>
        <p class="song5">I Am</p>
        <p class="song6">All I Need</p>
        <p class="song7">Table For One</p>
        </div>
        <style>
    .songs{
      display: grid;
      border: 2rem,solid,black;
    }
        </style>
    </body>
    </html>